body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Dark Theme */
.dark-mode {
    background-color: #121212;
    color: white;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}